{% extends "base.html" %}

{% block title %} -Saidkodirov| Bosh sahifa {% endblock title %}

{% block content %}

<hr>
<strong>Fanlar</strong> ( <small class="text-danger">Fanni tanlash uchun ustiga bosing !</small> )<br>
{% for category in categories %}
<ul class="list-group">
    <li class="list-group-item bg-success" aria-current="true">
      <i class="fa-solid fa-list" style="color: #63E6BE;"></i>
        <a href="?index={{forloop.counter}}" class="text-white" style="text-decoration: none;">
            {{ category }}
        </a>
    </li>
  </ul>

{% endfor %}
<hr>

<h3>{{ title }}</h3>

<div class="accordion" id="accordionPanelsStayOpenExample">

    {% for key, value in data.items %}
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{key}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{key}}">
            <strong>{{key}}-</strong><i class="fa-solid fa-circle-question fa-lg" style="color: #fd0d55;"></i> 
            : 
            {% for key,value in value.items %}
            <strong class="text-danger">
              {{key}}
            </strong>
            {% endfor %}
          </button>
        </h2>
        <div id="panelsStayOpen-collapse{{key}}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}">
          <div class="accordion-body">
            {% for key,value in value.items %}
            <i class="fa-solid fa-circle-info fa-lg" style="color: #63E6BE;"></i>
            {{value}}
            {% endfor %}
          </div>
        </div>
      </div>

    {% endfor %}

</div>

{% endblock content %}