{% extends "base.html" %}
{% load hitcount_tags %}
{% block title %} -Saidkodirov| Bosh sahifa {% endblock title %}

{% block content %}
<hr>
<div class="dropdown">
  <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <strong>Fanlar ro'yxati</strong> ( <small class="text-danger">Fanni tanlash uchun ustiga bosing !</small> )
  </button>
  <ul class="dropdown-menu">
    {% for category in categories %}
    <li>
      <a class="dropdown-item {% if forloop.counter == index %} bg-success text-white {% else %} text-dark {% endif %}" href="?index={{forloop.counter}}">
        {% if forloop.counter == index %}
        <span class="badge text-bg-dark">
          {% get_hit_count for quiz %} | <i class="fa-solid fa-eye"></i>
        </span>
        {% endif %}
      {{ category }}
    </a>
  </li>
    {% endfor %}
  </ul>
</div>
<hr>

<h3>{{ title }}</h3>

<div class="accordion" id="accordionPanelsStayOpenExample">

    {% for key, value in data.items %}
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{key}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{key}}">
            <strong>{{key}}-</strong><i class="fa-solid fa-circle-question fa-lg" style="color: #fd0d55;"></i> 
            : 
            {% for key,value in value.items %}
            <strong class="text-danger">
              {{key}}
            </strong>
            {% endfor %}
          </button>
        </h2>
        <div id="panelsStayOpen-collapse{{key}}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}">
          <div class="accordion-body">
            {% for key,value in value.items %}
            <i class="fa-solid fa-circle-info fa-lg" style="color: #63E6BE;"></i>
            {{value}}
            {% endfor %}
          </div>
        </div>
      </div>

    {% endfor %}

</div>

{% endblock content %}